/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}*/

body {
  line-height: 1;
}

.priority {
}

.kanji {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 30px;
}

.kanji + .kanji {
  margin-left: 5px;
}

.kana {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.kana + .kana {
  margin-left: 5px;
}

.pos-column {
  /*border-right: 1px solid rgba(0,0,0,.1);*/
  text-align: right;
}

.glossary {
  display: inline;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

p {
  margin-bottom: 0px;
}

.part-of-speech + .part-of-speech {
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 5px;
  padding-top: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.list-group-item, .card-block, .card-header {
  padding: 10px;
}

.card-header {
  border-bottom: 0px;
}

@font-face {
  font-family: "kanji-stroke-order";
  src: url(KanjiStrokeOrders.ttf);
}

#kanji-stroke-order {
  font-size: 240px;
  font-family: "kanji-stroke-order";
}

.main-separator {
  margin-top: 20px;
  margin-bottom: 20px;
}
